body {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.99) 77%, rgba(30,30,33,1) 93%, rgba(41,41,45,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.95)), color-stop(77%,rgba(0,0,0,0.99)), color-stop(93%,rgba(30,30,33,1)), color-stop(99%,rgba(41,41,45,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.99) 77%,rgba(30,30,33,1) 93%,rgba(41,41,45,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.99) 77%,rgba(30,30,33,1) 93%,rgba(41,41,45,1) 99%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.99) 77%,rgba(30,30,33,1) 93%,rgba(41,41,45,1) 99%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.99) 77%,rgba(30,30,33,1) 93%,rgba(41,41,45,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2000000', endColorstr='#29292d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: white;
	font-family: "Verdana", "Tahoma", "Arial";
	padding-bottom:100px;
	padding-top:100px;
	font-size: 15px;
	margin-left: 40px;
	margin-right: 40px;
	text-align: jus1ify;
    text-justify: inter-word;
}
#info {
	padding-top: 30px;
}
#main { 
	list-style: none;
	padding-top: 40px;
	margin: auto;
	padding-left: 140px;
	padding-right: 80px;
	margin-right: 30px;
	font-size: 18px;
}
#main ul {
	margin-left: 200px;
}
#part {
	padding-top: 170px;
	padding-left: 100px;
}

h1 {
	text-align:center;
	padding-bottom: 50px;
	position: inherit;
}
#onglet {
	padding-top: 100px;
	text-align: center;
	text-shadow: 1px 2px yellow;
	color: white;
}
#footer {
	width: 555px;
    height: 460px;
    background-color: white;
    background-clip: content-box;
	padding-left: 115px;
	padding-right: 60px;
	margin-left: 260px;
	text-align: center;
}

#social {
	text-align: center;
}
#copy {
	text-align: center;
}

div>img {
	width: 160px;
	height: 150px;
	text-align: center;
}
#lg {
	float: left;
}
#bar {
	padding-top: 30px;
	text-align: center;
}
#baro {
	padding-top: 30px;
	text-align: center;
}
#rcs {
	font-size: 10px;
	text-align: center;
}
.slider { 
	padding-top: 60px;
	padding-right: 80px;
	margin-right: 90px;

}
.slider li { 
	list-style: none; 
	float: left;
	text-align: center;
}

#ddd{

	width: 625px;
  	height: 410px;
  	border: 5px solid #B8B800;
  	border-bottom: 5px solid #B8B800; 
}
#eee{
	width: 625px;
  	height: 410px;
  	border: 5px solid #B8B800;
  	border-bottom: 5px solid #B8B800;
}
#fff{
	width: 625px;
  	height: 410px;
  	border: 5px solid #B8B800;
  	border-bottom: 5px solid #B8B800;
}
#ggg{
	width: 625px;
  	height: 410px;
  	border: 5px solid #B8B800;
  	border-bottom: 5px solid #B8B800;
}