body
{
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.99) 77%, rgba(30,30,33,1) 93%, rgba(41,41,45,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.95)), color-stop(77%,rgba(0,0,0,0.99)), color-stop(93%,rgba(30,30,33,1)), color-stop(99%,rgba(41,41,45,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.99) 77%,rgba(30,30,33,1) 93%,rgba(41,41,45,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.99) 77%,rgba(30,30,33,1) 93%,rgba(41,41,45,1) 99%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.99) 77%,rgba(30,30,33,1) 93%,rgba(41,41,45,1) 99%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.99) 77%,rgba(30,30,33,1) 93%,rgba(41,41,45,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2000000', endColorstr='#29292d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: white;
	font-family: "Verdana", "Tahoma", "Arial";
	margin: 0;
}
#banner 
{
	max-width: 900px;
	margin: auto;
	min-width: 320px;
}