body {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.99) 77%, rgba(30,30,33,1) 93%, rgba(41,41,45,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.95)), color-stop(77%,rgba(0,0,0,0.99)), color-stop(93%,rgba(30,30,33,1)), color-stop(99%,rgba(41,41,45,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.99) 77%,rgba(30,30,33,1) 93%,rgba(41,41,45,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.99) 77%,rgba(30,30,33,1) 93%,rgba(41,41,45,1) 99%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.99) 77%,rgba(30,30,33,1) 93%,rgba(41,41,45,1) 99%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.99) 77%,rgba(30,30,33,1) 93%,rgba(41,41,45,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2000000', endColorstr='#29292d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: white;
	font-family: "Verdana", "Tahoma", "Arial";
	padding-left: 75px;
	padding-right:75px;
	padding-bottom:80px;
	padding-top:100px;
	font-size: 15px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
    text-justify: inter-word;
}
h1 {
	text-align:center;
	padding-bottom: 50px;
}
#lg {
	float: left;
	width: 100px;
	height: 100px;
}
#ongl {
	padding-top: 100px;
	text-align: center;
	text-shadow: 1px 2px yellow;

}
h2 {
	color: yellow;
}
div#main>img {
	width: 505px;
	height: 325px;

}
div#main>span {
	font-size: 18px;
	font-family: "aharoni";
}
#footer {
	color: white;
	text-align: center;
}
#main { 
	padding-left: 10px;
	padding-top: 145px;
	padding-right: 10px;
}
#menu {
	float: left;
	font-size: 15px;
	text-transform: none;
	list-style: 
}
h3 {
	color: yellow;
	font-size: 16px;
	margin-top: 40px;
	padding-top: 560px;
	text-align: center;
}
#foire {

	font-size: 22px;
	color: yellow;
}
#fav086 {
	padding-top: 80px;
	float: left;
}
#fav093 {
	padding-top: 80px;
	float:right;
}
#fav031 {
	padding-top: 80px;
	float:left;
}
#fav029 {
	padding-top: 80px;
	float:right;
}

#fav091{
	padding-top: 80px;
	float:left;
}
#fav125{
	padding-top: 80px;
	float: right;
}
#fav126{
	padding-top: 80px;
	float: left;
}
#fav127{
	padding-top: 80px;
	float: right;
}
#no {
	padding-top: 140px;
	font-size: 22px;
	color: yellow;
}
#no32 {
	padding-top: 80px;
	float: left;
}
#no033 {
	padding-top: 80px;
	float:right;
}
#no042 {
	padding-top: 80px;
	float: left;
}
#no012{
	padding-top: 80px;
	float: right;
}
#no5{
	padding-top: 80px;
	float: left;
}
#no6{
	padding-top: 80px;
	float: right;
}
#no7{
	padding-top: 80px;
	float: left;
}
#no8{
	padding-top: 80px;
	float: right;
}
#via {
	padding-top: 120px;
	font-size: 22px;
	color: yellow;
}
#bouch130{
	padding-top: 80px;
	float: left;
}
#bouch129{
	padding-top: 80px;
	float:right;
}
#bouch124{
	padding-top: 80px;
	float: left;
}
#bouch030{
	padding-top: 80px;
	float:right;
}
#bouch043{
	padding-top: 80px;
	float: left;
}
#bouch053{
	padding-top: 80px;
	float: right;
}
#bouch113{
	padding-top: 80px;
	float: left;
}
#bouch123{
	padding-top: 80px;
	float: right;
}
#fraich {
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#fleg075 {	
	padding-top: 80px;
	float: left;
}
#fleg106{
	padding-top: 80px;
	float:right;
}
#fleg085{
	padding-top: 80px;
	float: left;
}
#fleg121{
	padding-top: 80px;
	float:right;
}
#fleg111{
	padding-top: 80px;
	float: left;
}
#fleg119{
	padding-top: 80px;
	float: right;
}
#fleg130{
	padding-top: 80px;
	float: left;
}
#fleg132{
	padding-top: 80px;
	float: right;
}
#fleg133{
	padding-top: 80px;
	float: left;
}
#fleg135{
	padding-top: 80px;
	float: right;
}
#fag{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#fag1{
	padding-top: 80px;
	float: left;
}
#fag2{
	padding-top: 80px;
	float: right;
}
#fag3{
	padding-top: 80px;
	float: left;
}
#fag4{
	padding-top: 80px;
	float: right;
}
#fap{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#fap1{
	padding-top: 80px;
	float: left;
}
#fap2{
	padding-top: 80px;
	float: right;
}
#fap3{
	padding-top: 80px;
	float: left;
}
#fap4{
	padding-top: 80px;
	float: right;
}
#fap5{
	padding-top: 80px;
	float: left;
}
#fap6{
	padding-top: 80px;
	float: right;
}
#plage{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#plage1{
	padding-top: 80px;
	float: left;
}
#plage2{
	padding-top: 80px;
	float: right;
}
#plage3{
	padding-top: 80px;
	float: left;
}
#plage4{
	padding-top: 80px;
	float: right;
}
#plage5{
	padding-top: 80px;
	float: left;
}
#plage6{
	padding-top: 80px;
	float: right;
}
#Boulanger{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#Boulanger1{
	padding-top: 80px;
	float: left;
}
#Boulanger2{
	padding-top: 80px;
	float: right;
}
#Boulanger3{
	padding-top: 80px;
	float: left;
}
#Boulanger4{
	padding-top: 80px;
	float: right;
}
#poissonerie{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#poisson{
	padding-top: 80px;
	float: left;
}
#poisson1{
	padding-top: 80px;
	float: right;
}
#poisson2{
	padding-top: 80px;
	float: left;
}
#poisson3{
	padding-top: 80px;
	float: right;
}
#lbp{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#lbep{
	padding-top: 80px;
	float: left;
}
#lbep1{
	padding-top: 80px;
	float: right;
}
#lbep2{
	padding-top: 80px;
	float: left;
}
#lbep3{
	padding-top: 80px;
	float: right;
}
#lbep4{
	padding-top: 80px;
	float: left;
}
#lbep5{
	padding-top: 80px;
	float: right;
}
#lbep6{
	padding-top: 80px;
	float: left;
}
#lbep7{
	padding-top: 80px;
	float: right;
}
#gibier{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;	
}
#gibier1{
	padding-top: 80px;
	float: left;
}
#gibier2{
	padding-top: 80px;
	float: right;
}
#gibier3{
	padding-top: 80px;
	float: left;
}
#gibier4{
	padding-top: 80px;
	float: right;
}
#exo{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#exo1{
	padding-top: 80px;
	float: left;	
}
#exo2{
	padding-top: 80px;
	float: right;	
}
#exo3{
	padding-top: 80px;
	float: left;
}
#exo4{
	padding-top: 80px;
	float: right;
}
h4 {
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#bain{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;	
}
#bain1{
	padding-top: 80px;
	float: left;	
}
#bain2{
	padding-top: 80px;
	float: right;
}
#fcf{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#cinema{
	padding-top: 80px;
	float: left;
	margin-left: 280px;
}
#jp{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#jp1{
	padding-top: 80px;
	float: left;
}
#jp2{
	padding-top: 80px;
	float: right;
}
#galamiss{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#miss{
	padding-top: 80px;
	float: left;
	margin-left: 280px;
}
#vhdm{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#BS1{
	padding-top: 80px;
	float: left;
}
#BS2{
	padding-top: 80px;
	float: right;
}
#espaceguinguette{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#guinguette{
	padding-top: 80px;
	float: left;
	margin-left: 280px;
}
#pmariage{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#mariage{
	padding-top: 80px;
	float: left;
	margin-left: 280px;
}
#soirvenise{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#venise{
	padding-top: 80px;
	float: left;
	margin-left: 280px;
}
#mairie{
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#mairie1{
	padding-top: 80px;
	float: left;
}
#mairie2{
	padding-top: 80px;
	float: right;
}
#autrvinexpo1{
	padding-top: 80px;
	float:left;
}
#autrvinexpo2{
	padding-top: 80px;
	float: right;
}
#autrvinexpo3 {
	padding-top: 80px;
	float: left;
}
#autrvinexpo4 {
	padding-top: 80px;
	float: right;
}
#autrvinexpo5{
	padding-top: 80px;
	float: left;
}
#autrvinexpo6{
	padding-top: 80px;
	float: right;
}
#vin {
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#jdupatri {
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#autrjdupatri {
	padding-top: 80px;
	float: left;
}
#autrjdupatri1 {
	padding-top: 80px;
	float:right;
}
#stclub {
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#salonclub {
	padding-top: 80px;
	float: left;
}
#salonclub1 {
	padding-top: 80px;
	float: right;
}
#annee6-7 {
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#annee60 {
	padding-top: 80px;
	float: left;
}
#annee60-1 {
	padding-top: 80px;
	float: right;
}
#annee60-2 {
	padding-top: 80px;
	float: left;
}
#annee70 {
	padding-top: 80px;
	float: right;
}
#annee70-1 {
	padding-top: 80px;
	float: left;
}
#annee70-2 {
	padding-top: 80px;
	float: right;
}
#thalo {
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#haloween {
	padding-top: 80px;
	float: left;
}
#haloween1 {
	padding-top: 80px;
	float: right;
}
#haloween2 {
	padding-top: 80px;
	float: left;
}
#haloween3 {
	padding-top: 80px;
	float: right;
}
#trdclasse {
	padding-top: 60px;
	font-size: 22px;
	color: yellow;
}
#rdclasse{
	padding-top: 80px;
	float: left;
}
#rdclasse1{
	padding-top: 80px;
	float: right;
}
#rdclasse2{
	padding-top: 80px;
	float: left;
}
#rdclasse3{
	padding-top: 80px;
	float: right;
}
#rdclasse4{
	padding-top: 80px;
	float: left;
}
#rdclasse-g{
	padding-top: 80px;
	float: right;
}
#rdclasse-g1{
	padding-top: 80px;
	float: left;
}
#rdclasse-g2{
	padding-top: 80px;
	float: right;
}
#rdclasse-g3{
	padding-top: 80px;
	float: left;
}
#rdclasse-g4{
	padding-top: 80px;
	float: right;
}
#rdclasse-g5{
	padding-top: 80px;
	float: left;
}
#bar {
	padding-top: 50px;
	text-align: center;
}
#baro {
	padding-top: 50px;
	text-align: center;
}
#barr {
	padding-top: 50px;
	text-align: center;
}
#barro {
	padding-top: 50px;
	text-align: center;
}
#barrr {
	padding-top: 50px;
	text-align: center;
}
#barrro {
	padding-top: 50px;
	text-align: center;
}
#barrrr {
	padding-top: 50px;
	text-align: center;
}
#barrrro {
	padding-top: 50px;
	text-align: center;
}
#barrrrr {
	padding-top: 50px;
	text-align: center;
}
#barrrrro {
	padding-top: 50px;
	text-align: center;
}
#barrrrrr {
	padding-top: 50px;
	text-align: center;
}
#barrrrrro {
	padding-top: 50px;
	text-align: center;
}
#barrrrrrr {
	padding-top: 50px;
	text-align: center;
}
#barrrrrrro {
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrr {
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrro {
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrr {
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrr{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrro{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrr{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrro{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrrr{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrrro{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrrrr{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrrrro{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrrrrr{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrrrrro{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrrrrrr{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrrrrrro{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrrrrrrr{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrrrrrrro{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrrrrrrrr{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrrrrrrrro{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrrrrrrrrr{
	padding-top: 50px;
	text-align: center;
}
#barrrrrrrrrrrrrrrrrrro{
	padding-top: 50px;
	text-align: center;
}